/*@import 'http://weloveiconfonts.com/api/?family=zocial';*/
@import url(http://weloveiconfonts.com/api/?family=brandico);
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/*INDEX STYLE*/
body, p, h1{
    margin:0;
}
.supHeader{
    width: 100%;
    height: 3em;
    background-color: #5c50a5;
}
.supHeader h1{
    color: white;
    padding: 0.12em 0;
}
.content{
    width: 65%;
    margin: 0 auto;
}
.publicationCard{
    padding: 11px;
}
.publicationCard .firstRow{
    display: flex;
}
.publicationCard .publiOptions{
    display: flex;
}
.publicationCard .publiOptions .socialLogo{
    font-size: 27px;
    width: 27px;

}
.publicationCard .publiOptions .facebook{
    color: #1d4088;/*Oscuro*/
    /*CLARO: #425f9c(Oficial)*/
}
.publicationCard .publiOptions .insta{
    color: #B49579;/*CLARO*/
    /*Oscuro: #8a6d3b(Oficial)*/
}
.publicationCard .publiOptions .moreOptions{
    width: 10px;
    padding-left: 4px;
}
.publicationCard .userInfo{
    width: 86%;
}
.publicationCard .publiOptions{
    width: 14%;

}
.publicationCard .userInfo .uname{
    color: #1d4088;
}
.publicationCard .userInfo .subInfo{
    color: #6a7180;
    font-size: 0.7em;
}


.contentPublished .image{
    background-image: url("https://nutrasumma.com/wp-content/uploads/banner-placeholder.jpg");
    background-size: 18.1em 10em;
    background-repeat: no-repeat;
    width: 18.1em;
    height: 10em;
}

.socialOptions{
    display: flex;
}
.socialOptions .likes{
    margin-left: 12em;
}
/*INDEX STYLE END*/

/*LOGIN STYLE*/
body{
    margin: 0;

}
header{
    background-color: #946EA0;
}
@media screen and (max-width: 620px) {
    header{
        padding-top: 0.2em;
        width: 100%;
    }
    header .loginTitle{
        width: 48%;
        margin: 0 auto;
        padding: 0.5em;
    }
    header .loginTitle h1{
        text-align: center;
        color: white;
        margin: 0;
    }
    body .loginButtons{
        margin: 0 auto;
    }
    body .loginButtons .instagramLink{
        margin-left: 49%;
    }
}
a {
    text-decoration: none;
}
.loginBox{
    background-color: white;
    border-radius: 28px;
    border: 1px solid black;
    padding: 30px;
    width: 60%;
    margin: 0 auto;
    margin-top: 2em;
    height: 10em;
}
.loginButtons{
    display: flex;
}
.loginButtons a .facebookLoginLogo {
    font-size: 3em;
    color: #425f9c;

}
.loginButtons a .instagramLoginLogo{
    font-size: 3em;
    color: #8a6d3b;
}
/*http://weloveiconfonts.com/*/
[class*="zocial-"]:before{
    font-family: 'zocial', sans-serif;
}
/* brandico */
[class*="brandico-"]:before {
    font-family: 'brandico', sans-serif;
}

/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}

/* fontawesome */
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}
